<h1>Dashboard</h1>

<%= form_for @cluck do |form| %>
  <%= form.text_field :body, placeholder: "Cluck here", required: true %>
  <%= form.submit "Cluck!" %>
<% end %>

<!--- polymorphic rendering based on @clucks -->
<%= render @clucks %>

